@font-face {
    font-family: "Noto Sans";
    src: url("/notosans.ttf");
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;

    background-color: #424242;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(206, 206, 206);
}

::-webkit-scrollbar-corner {
    background-color: #919191;
}

body {
    margin: 0;
    background-color: #131313;
}

* {
    font-family: "Noto Sans";
}

.mantine-Card-root {
    background-color: #1f1f1f;
    border-color: #292929;
    color: white;
}