.wrapper {
    position: relative;
}

.notch {
    position: absolute;
    top: 10px;
    transform: rotate(-90deg);
}

.content {
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
    min-height: 40px;
    color: black;
    overflow-wrap: anywhere;
}